In [4]:
import tushare as ts
import pandas as pd
pd.set_option('display.width', None)  # 设置字符显示宽度
pd.set_option('display.max_rows', None)  # 设置显示最大行
pd.set_option('display.max_columns', None)  # 设置显示最大行
pro = ts.pro_api('9c30e3f0582eee6a53ebfa1679d364d31b38bb0bec83a6b74d8dc7d7')
df = pro.fut_wsr(trade_date='20181130')
df.groupby(['trade_date','symbol','unit'])['vol', 'vol_chg','unit'].sum()

                          vol  vol_chg
trade_date symbol unit
20181130   A      手     42205     -219
           C      手     55442    -2380
           M      手         0    -7413
           P      手       250        0
           V      手        41        0
           Y      手     40140        0